.logo{
  max-width: 75%;
}

.sidenav-container {
  height: 100%;
}

.sidenav.mat-drawer-side{
  border-right:0;
}

.sidenav {
  width: 200px;
  background-color: #293941;
}

.sidenav .mat-nav-list a{
  color: #ffffff;
}

.mat-nav-list a.active{
  background-color: #e65100 !important;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.white-background.mat-elevation-z2 {
  position: sticky;
  top: 0;
  z-index: 1;
}
